
body{margin-top:20px;}

/* =Jumbotron Main
-------------------------------------------------------------- */
.jumbotron.jumbotron-main {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    margin:0;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background: #1f1f1f; /* Old browsers */
    background: -moz-linear-gradient(left, #1f1f1f 0%, #1f1f1f 35%, #1f1f1f 68%, #1f1f1f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1f1f1f 0%,#1f1f1f 35%,#1f1f1f 68%,#1f1f1f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1f1f1f 0%,#1f1f1f 35%,#1f1f1f 68%,#1f1f1f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(left, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to right, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#1f1f1f',GradientType=1 ); /* IE6-9 */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.jumbotron.jumbotron-main hr {
    border-width: 0px 0px;
    border-style: dotted none;
    border-color: rgba(255, 255, 255, 0.35);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    width: 0px;
    height: 0px;
    text-align: center;
    position: relative;
    clear: both;
}

.jumbotron.jumbotron-main a {
    color: #000;
}

.center-vertically {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.center-vertically-holder {
    display: table;
    height: 100%;
}

.scroll-indicator {
    padding-top:0px;
    display: inline-block;
    width: 0px;
}

.arrow-scroll-indicator {
    font-size: 0px;
    color: rgba(255, 255, 255, 0.60);
}

.parallax-window {
    background: transparent;
}

.page-content{
    position: relative;
    z-index: 1;
    background-color: transparent;
}

