/* Menu */

* {
	font-family: Calibri;
}

h1, h2, h3, h4, h5, h6 {
	color: #1B3F1B;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
}

#nav ul {
	list-style: none;
	width: 900px;
	margin: 0 auto;
	padding: 0;
}

#nav li {
	float: left;
}

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #1B3F1B;
	border-right: 1px solid #ccc;
}

#nav li:first-child a {
	border-left: 1px solid #ccc;
}

#nav li a:hover {
	color: #c00;
	background-color: #fff;
}

a {
	text-decoration:none;
}

.contact_info_left {
	border-right:2px solid white;
}

.contact_info_right {
	border-left:2px solid white;
}

.team-container {
	background-color: lightblue;
	position: fixed;
	margin-left:25%;
	margin-right:25%;
    width: 50%;
    border: 1px solid darkgray;
    padding: 200px;
}

.team-progress-bar1{
	background-color: lightcoral;
	position: absolute;
	margin-left:25%;
	margin-right:25%;
	width:17%;
	padding:10px;
	border: 2px solid darkgrey;
}