
.middle{
    text-align: center;
    box-shadow: 2 black;
    width: 600px;
    margin-left: auto ;
    margin-right: auto ;
}

.main1{
    width:450px;
    margin-left:10%; 

}
.name{
    width:25%;
    margin:15px 25px;
}
.email{
    display:block;
    width:40%;
    margin-right:10px;
}
.spacer{
    margin-bottom:80px;
    padding-bottom: 80px;
}
.button1{
    width:120px;
    margin:15px 25px;
    padding:5px;
    height:40px;
    background-color:#004a00;
    border:none;
    border-radius:4px;
    color:#fff;
    font-family:'Droid Serif',serif;
    text-decoration: none;
    font-size: 12px;
}
#pay-form{
    margin-left:45%;
    padding-left: 43%;
}
label{
    margin:15px 25px;
    margin-top:10px;
}
td, table, div{
    margin: 0;
    padding:0;
}
th{
    text-align: left;
    margin: 0;
    padding:0;
}
fieldset{
    display:none;
    padding:20px;
    margin-top:50px;
    margin-right: 0;
    margin-left:0;
    border-radius:5px;
    box-shadow:3px 3px 25px 1px gray
}
#first1{
    display:block;
    padding:20px;
    margin-top:50px;
    margin-right: 0;
    border-radius:5px;
    margin-left:0;
    box-shadow:3px 3px 25px 1px gray
}
input[type=text],select{
    width:100%;
    margin:1px;
    height:30px;
    padding:10px;
    border:2px solid #a4c34a;
    border-radius:4px
}
textarea{
    width:100%;
    margin:10px 0;
    height:70px;
    padding:5px;
    border:3px solid #a4c34a;
    border-radius:4px
}
input[type=submit],input[type=button]{
    width:120px;
    margin:15px 25px;
    padding:5px;
    height:40px;
    background-color:#004A00;
    border:none;
    border-radius:4px;
    color:#fff;
    font-family:'Droid Serif',serif;
    cursor:pointer;
    
}
h2,p{
    text-align:center;
    font-family:'Droid Serif',serif
}