/* Menu */

* {
	font-family: Calibri;
}

h1, h2, h3, h4, h5, h6 {
	color: #1B3F1B;
}

#nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
}

#nav ul {
	list-style: none;
	width: 90%;
	margin: auto auto;
	padding: 0;
	float:center;
}

#nav li {
	float:left
}

#nav li a {
	display: block;
	padding: 8px 10px;
	text-decoration: none;
	font-weight: bold;
	color: #1B3F1B;
	border-right: 1px solid #ccc;
}

#nav li:first-child a {
	border-left: 1px solid #ccc;
}

#nav li a:hover {
	color: #c00;
	background-color: #fff;
}

a {
	text-decoration:none;
}

.contact_info_left {
	border-right:2px solid white;
}

.contact_info_right {
	border-left:2px solid white;
}

.team-container {
	margin-top:80px;
	margin-bottom:300px;
	margin-left:25%;
	margin-right:25%;
    padding: 0px;
}
html{
	height:100%;
	margin: auto;
}
.red{
	background-color: #FF4444;
}
.redbutton{
	color:green;
}
