* {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 15px;
  font-variant: normal;
  padding: 0;
  margin: 0;
}
h2{
  text-align: center;
  color: #004A00;
}
/*.mainbody{
  background-image: url("small_steps.png");
  margin:0;
  padding:0;
  background-size: auto 100%;
}*/
.styleLine{
  background-color: #a4c34a;
  height: 1px;
  width:100%;
}
#card-element{
  background-color: white;
  border-bottom: solid 1px #a4c34a;
}
.middle1{
    width: 500px;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 100px;
    background-color: #F2F2F2;
    box-shadow: 10px 10px 5px #888888;
    font-weight: 500;
    padding:10px;
}
table{
  
}
.middle2{
    width: 700px;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: 100px;
    box-shadow: 10px 10px 5px #888888;
    font-weight: 500;
    padding:10px;
}
input[type=submit],input[type=button]{
    width:120px;
    margin:15px 25px;
    padding:5px;
    height:40px;
    background-color:#004A00;
    border:none;
    border-radius:4px;
    color:#fff;
    cursor:pointer;
    font-family:'Droid Serif',serif;
    box-shadow: 4px 4px 2px #888888;
}
input[type=text],input[type=email],select{
    cursor: text;
    width:40%;
    margin:1px;
    height:25px;
    border-bottom:1px solid #a4c34a;
    line-height:30px;
    border-radius:2px;
}
.name{
    width:25%;
    margin:15px 25px;
}
.email{
    display:block;
    width:40%;
    margin-right:10px;
}
label {
  font-weight: 600;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  display: block;
}
.price{
  font-size: 20px;
  font-weight: 500;
}
th {
    text-align: left;
}

